.navbar-dark {
    background-color: #1f3658;
}

body {
    padding: 50px 0px 0px 0px;
}

.jumbotron {
    background-color: #65aff5;
    margin: 0px auto;
    padding: 70px 30px;
}

#jumbotrondesc {
    font-size: x-large;
}

.nav-link {
    font-size: x-large;
    margin: 0px 25px;
}

.footer {
    background-color: #bbdef1;
    margin: 20px auto 0px auto;
    padding: 20px 0px;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.card-img-top {
    height: 150px;
    width: 150px;
}

.img-top {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card {
    background-color: whitesmoke;
    margin: 20px;
}

.card .card-title {
    text-align: center;
}

.btn-card {
    margin: 10px;
}
.card .card-header{
    background-color: #65aff5;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.bg-fwhite {
    background-color: floralwhite;
}

.carh {
    font-size: xx-large;
}

.snip {
    font-size: large;
    font-weight: bolder;
}

.tab-pane {
    font-size: large;
}

.card {
    margin-top: 0;
    margin-bottom: 0;
}

#T1H {
    background-color: #65aff5;
}

#T2H {
    background-color: #65aff5;
}
#T3H {
    background-color: #65aff5;
}
#T4H {
    background-color: #65aff5;
}